* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: steelblue;
    color: #f3f3f3;
}

#container {
    margin: 5vw auto;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    column-gap: 20px;
    justify-content: center;
    align-self: stretch;
}

.subcontainer {
    display: grid;
    grid-template-columns: 50vw;
    grid-gap: 2px;
}

p{
    margin: 15px 0;
}

#output {
    height: 40px;    
    text-align: center;
    word-wrap: break-word;
    color: white;
    font-weight: bold;
}

input, button{
    height: 40px;
    font-size: 25px;
}

@media (max-width: 500px) {
    #container{
        grid-template-columns: 50vw;
        row-gap: 20px;
    }

    #colLeft {
        visibility: hidden;
    }        
}

.thousand {
    text-decoration: overline;
}

#colLeft {
    font-size: 20px;
}